// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "card";

.link-no-style:hover {
  text-decoration: none;
}

a {
  color: white;
  &:hover {
    text-decoration: none;
  }
}

.black-trash {
  color: black;
  font-size: 0.7em;
}

.hide {
  display: none;
}

.new_dose {
  display: none;
}
